data/*
out/*
wandb/*
lightning_logs/*
unimodality_pipeline.egg-info/*
unimodality_pipeline/__pycache__
unimodality_pipeline/datasets/__pycache__
unimodality_pipeline/models/__pycache__
unimodality_pipeline/setups/__pycache__
unimodality_pipeline/tools/__pycache__
unimodality_pipeline/tests/__pycache__
unimodality_pipeline/eval/__pycache__

